html {
  height: 100%;
}

body {
  color: white;
  display: flex;
  font-family: 'Quicksand', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center; 
}


main {
  align-items: center;
  background-color: #F38D4F;
  box-sizing:border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

h1 {
  font-weight: 900;
  font-size: 3.5em;
  margin: 50px 0 0 0;
}
.classic-version, 
.difficult-version {
  background-color: #F19E6A;
  margin: 20px 0 20px 0;
  padding: 20px;
  width: 200px;
}

.classic-rules, 
.difficult-rules {
  margin: 2px;
}

.choose-heading {
  margin: 8px 0 72px 0;
}

.fighter-icons-classic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 200px;
  width: 50px;
}

.fighter-icon {
  height: 160px;
  width: 160px;
  padding: 20px;
}

.user-score-section,
.computer-score-section {
  box-sizing: border-box;
  background-color: #F19E6A;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.player-pic {
  font-size: xx-large;
  margin: 40px 0 0 0;
}

.player-info {
  font-size: x-large;
  margin: 0 0 10px 0;
}

.player-score {
  font-size: large;
  font-weight: 200;
}

.hidden {
  display: none;
}